#main {
    padding: 40px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px;
    /* overflow: scroll; */
}

#title {
    padding-bottom: 10px;
    text-align: center;
}

#otherText {
    color: grey;
    text-align: center;
}

#shortNameHelp {
    color:grey;
}

#createStudyButton {
    margin-top: 20px;

}

#confirmButton {
    margin-top: 20px;
}

#toolkitTable {
    height: 200px;
    /* overflow-y: scroll; */
}

#nextButton {
    float: right;
}

#nameDataset {
    float: left;
}

#dataType {
    float: right;
}

#dataTypeButtons {
    margin-bottom: 20px;
}

#dataTableName {
    text-align: center;
}

.inline {
    display: inline-block;
}

#analyzeDataButton {
    float: right;
}

#addNewData, #addNewTool {
    width: 48%;
    margin-bottom: 20px;
    /* display: inline-block; */
}

#addNewDataToolDiv {
    width: 100%;
    display: inline-block;
}

.form-control {
    width: 400px;
}