#main {
    padding: 40px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px;
    /* overflow: scroll; */
}

#mainUserHome {
    padding: 40px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    /* overflow: scroll; */
}

#title {
    padding-bottom: 10px;
    text-align: center;
}

#otherText {
    color: grey;
    text-align: center;
}

#shortNameHelp {
    color:grey;
}

#createStudyButton {
    margin-top: 20px;

}

#confirmButton {
    margin-top: 20px;
}

#toolkitTable {
    height: 200px;
    /* overflow-y: scroll; */
}

#nextButton {
    float: right;
}

#nameDataset {
    float: left;
}

#dataType {
    float: right;
}

#dataTypeButtons {
    margin-bottom: 20px;
}

#dataTableName {
    text-align: center;
}

.inline {
    display: inline-block;
}


#addNewTool {
    width: 170px;
    text-align: left;
    /* margin-bottom: -50px; */
    margin-top: 60px;
    /* display: inline-block; */
}

#addNewData{
    width: 120px;
    margin-left: 20px;
    margin-right: 40%;
    /* margin-top: 10px; */
    text-align: left;
    margin-top: 60px;
}

#studyNameOnStudyPage{
    height: 60px;
    margin-bottom: -35px;
    text-align: center;
}

/* #logoutButton{
    margin-left: 90%;
} */

#loadingTableData{
    width: 100%;
}

#uploadedResultFile, #uploadedImage{
    width: 45%;
    height: 100%;
}

#uploadedResultFile{
    margin-left: 3%;
    margin-right: 2%;
}

#selDataAR, #selToolAR{
    width: 45%;
    display: inline-block;
}

#selDataAR{
    margin-left: 3%;
    margin-right: 2%;
}

#analyzeDataButton {
    margin-right: 10px;
    margin-top: 20px;
    text-align: right;
}

#addNewDataToolDiv {
    width: 100%;
    display: inline-block;
}

#uploadedToolViewer, #uploadedDataViewer {
    width: 80%;
}

#userHomeHeader, #goToNewStudyButton, #goToViewDataButton{
    display: inline-block;
}

#userHomeHeader{
    width: 72%;
}

.spToolkit{
    width: 100%;
    padding-left: 2%;
    text-align: left;
}

.form-control {
    width: 400px;
}

#StudyList {
    border:2px solid #ccc; 
    width:300px; 
    height: 100px; 
    overflow-y: scroll;
}

.backBtn {
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: -45px;
}

.ib{
    display: inline-block;
}

#loadingGif {
    position: fixed;
    bottom: 42.5%;
    right: 42.5%;
}

#clickRowToGraph, #clickRowToUseTool {
    text-align: left;
}

#downloadResultFile {
    margin-left: 45%;
}

/* .registerInput {
    position: relative;
    vertical-align: middle;
    glyph-orientation-horizontal: middle;

} */