#main {
    padding: 50px;
}

#title {
    padding-bottom: 10px;
    text-align: center;
}

#otherText {
    color: grey;
    text-align: center;
}

#shortNameHelp {
    color:grey;
}

#createStudyButton {
    margin-top: 20px;

}

#confirmButton {
    margin-top: 20px;
}

#toolkitTable {
    height: 200px;
    /* overflow-y: scroll; */
}

#nextButton {
    float: right;
}

.form-control {
    width: 400px;
}